[Unit]
Description=HTTP Keystore
Wants=network-online.target
After=network-online.target

[Service]
PIDFile=/var/local/httpkeystore.pid
ExecStart=/var/local/httpkeystore/httpkeystore.pid
Restart=on-failure
WorkingDirectory=/var/local/httpkeystore
User=httpkeystore
ProtectHome=true
ProtectSystem=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

