[Unit]
Description=HTTP Keystore
Wants=network-online.target
After=network-online.target

[Service]
PIDFile=/var/local/http-keystore/http-keystore.pid
ExecStart=/var/local/http-keystore/http-keystore.rb
Restart=on-failure
WorkingDirectory=/var/local/http-keystore
User=httpkeystore
ProtectHome=true
ProtectSystem=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

